In [1]:
import awkward as ak
import glob
files = glob.glob("../test_20220301/data/*.parquet")
file_map = {}
file_map["train"] = files[0::2]
file_map["test"] = files[1::2] 
data_array = {}
for split in ["train","test"]:
    data_array[split] = ak.concatenate(
        [ak.from_parquet(f) for f in file_map[split] ] 
    ) 
df = ak.concatenate([ak.from_parquet(f) for f in files] )

/home/users/azecchin/miniconda3/envs/evergraph/lib/python3.10/site-packages/awkward/operations/convert.py:1999: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if distutils.version.LooseVersion(
/home/users/azecchin/miniconda3/envs/evergraph/lib/python3.10/site-packages/awkward/operations/convert.py:2001: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  ) < distutils.version.LooseVersion("2.0.0"):

In [2]:
len(df)

912385

In [3]:
len(data_array["train"])+len(data_array["test"])

912385

In [2]:
import pandas
import numpy as np

In [22]:
DUMMY_VALUE=-999
events= {}
for split in ["train", "test"]:
    events[split] = {}
    print ("data Array objects {} {}".format(len(data_array[split]["objects"]),data_array[split]["objects"].ndim))
    # print ("flatten ",len(ak.flatten(data_array[split]["objects"],axis=-1))," " ,ak.flatten(data_array[split]["objects"],axis=-1).ndim )
    data_array[split]["flat_objects"] = ak.nan_to_num(ak.flatten(data_array[split]["objects"],axis=-1), nan = DUMMY_VALUE, posinf= DUMMY_VALUE, neginf= DUMMY_VALUE)
    
    print ("data Array objects {} {}".format(len(data_array[split]["flat_objects"]),data_array[split]["flat_objects"].ndim))
    print ("data Array labels {} {}".format(len(data_array[split]["target_has_HbbHiggs"]),data_array[split]["target_has_HbbHiggs"].ndim))
    labels = ak.to_pandas(data_array[split]["target_has_HbbHiggs"]==1)
    features = ak.to_numpy(data_array[split]["flat_objects"])
    # np.reshape(features,(len(labels),55))
    # print("Pandas series {} {}".format(len(df),df.shape))
    # print ( "split {} events {} labels {} ".format(split,len(df),len(df["target_has_HbbHiggs"])) )
    events[split]["X"] = features
    events[split]["y"] = labels
    print (" features lenght {} labels lenght {}".format(events[split]["X"].shape,events[split]["y"].shape) )
    print ("{} signal events {} background events {}".format(split,events[split]["y"].sum(), len(events[split]["y"]) - events[split]["y"].sum()))

data Array objects 500000 3
data Array objects 500000 2
data Array labels 500000 1
 features lenght (500000, 55) labels lenght (500000, 1)
train signal events values    371747
dtype: int64 background events values    128253
dtype: int64
data Array objects 412385 3
data Array objects 412385 2
data Array labels 412385 1
 features lenght (412385, 55) labels lenght (412385, 1)
test signal events values    306562
dtype: int64 background events values    105823
dtype: int64

In [15]:
data_array["test"]["flat_objects"]

In [16]:
features

entry   subentry
0       0         values    5.832958
        1         values    0.827759
        2         values   -2.416504
        3         values    0.000000
        4         values    0.000000
                              ...
412384  50        values    4.193891
        51        values    0.000000
        52        values    1.809570
        53        values    0.000000
        54        values    0.000000
Length: 22681175, dtype: float64

In [10]:
events["test"]["X"]

                   values
entry  subentry
0      0         5.832958
       1         0.827759
       2        -2.416504
       3         0.000000
       4         0.000000
...                   ...
412384 50        4.193891
       51        0.000000
       52        1.809570
       53        0.000000
       54        0.000000

[22681175 rows x 1 columns]